* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: pink;
  padding: 100px;
  font-family: 'Helvetica', 'Arial', sans-serif;
}

.main{
background-color: #E5D9B6 ;
border-radius: 10%;
height: 600px;
width: 600px;
border-radius: 10px;
display: block;
margin-left: auto;
margin-right: auto;
display:flex;
justify-content: center;
align-items: center;
flex-direction: column;
}
.title{
   font-size: 40px;
   margin-top: 0px;
    margin-bottom: 30px;}

.instructions{
  font-family: 'Inter', sans-serif;
  color:gray;
  font-weight: 600;
  margin: 0 20px 50px;
  text-align: center;
}
.die-face{

border-radius: 10%;
height: 60px;
width: 60px;
box-shadow:4px 4px 2px gray ;
padding:0px;
display:flex;
justify-content: center;
align-items: center;
cursor: pointer;
}
.die-face{
  background-color: green;
  border-radius: 10%;
  height: 60px;
  width: 60px;
  box-shadow:4px 4px 2px gray ;
  padding:0px;
  display:flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  }

.die-grid{
  display:grid;
  grid-template-columns: 80px 80px 80px 80px 80px;
  grid-template-rows: 80px auto 80px;
  column-gap: 10px;
  row-gap: 15px;
}

button{
  height: 60px;
  width: 200px;
  border-radius: 5px;
  background-color:  #7D1E6A;
  border-width: 0px;
  margin-top: 0;
  /* box-shadow: 3px 3px 3px 3px #D58BDD; */
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  display: inline-block;
  font-size: 2em;
  color: white;
  cursor: pointer;
}
button:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}
